.button-table-of-content {
  &.item-table-of-content {
    margin-top: 7px;
    cursor: pointer;
  }
  
}

div {
  &.item-table-of-content {
    #activated {
      color: #2196f3;
    }

    &#not-activated {
      color: #565656;
    }
  
    &:hover {
      text-decoration: underline;
    }
  }
}